gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.24; python_version >= "3.7"
smmap==5.0.0; python_version >= "3.7"
toml==0.10.2; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
typing-extensions==4.0.1; python_version < "3.10" and python_version >= "3.7"
